include *.lock
include *.md
include Pipfile
recursive-include ci *.gitkeep
recursive-include cli *.sh
recursive-include policies *.json
recursive-include resources *.JPG
recursive-include resources *.conf
recursive-include resources *.css
recursive-include resources *.dockerignore
recursive-include resources *.ico
recursive-include resources *.js
recursive-include resources *.json
recursive-include resources *.md
recursive-include resources *.svg
recursive-include resources Makefile
recursive-include src *.json
recursive-include src *.md
recursive-include src *.new
recursive-include src *.old
recursive-include src *.py
recursive-include src *.rego
recursive-include tests *.json

global-exclude *.py[cod] __pycache__/* *.so *.dylib
