[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplejson = "==3.17.2"
pydash = "==6.0.0"
PyYAML = "==6.0.1"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
