[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplejson = "==3.17.2"
pydash = "*"
PyYAML = "==6.0.1"

[dev-packages]
black = "*"
pytest = "*"
exceptiongroup = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
