*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
dist
env
logs
web/media
web/static/CACHE
stats
node_modules
build
.secrets/
*/node_modules/
*/build/
*/.git/
.gitignore
.editorconfig